
#navbar-section{
    display: flex;
    justify-content: space-between;
    padding: 0px 130px;
    margin-top: 30px;
}
#navbar-section .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
#navbar-section .navoption ul {
    display: flex;
}
#navbar-section .navoption ul li{
    margin-right: 30px;
    list-style: none;
}



@media screen and (max-width:576px) {
    #navbar-section{
        padding: 0px;
        display: block;
    }

    #navbar-section .navoption ul li{
        margin-right: 10px;
        list-style: none;
        
    }
    #navbar-section .navoption ul{
        padding: 10px;
    }
    #navbar-section .navoption{
        margin-left: 0px;
    }
    #navbar-section .logo{
        width: fit-content;
        display: block;
        align-items: center;
        text-align: center;
        margin-left: 70px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    #navbar-section{
        padding: 0px 30px;
        display: block;
    }
}