
#navbar-section{
    display: flex;
    justify-content: space-between;
    padding: 0px 130px;
    margin-top: 30px;
}
#navbar-section .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
#navbar-section .navoption ul {
    display: flex;
}
#navbar-section .navoption ul li{
    margin-right: 30px;
    list-style: none;
}



@media screen and (max-width: 576px) {
    #navbar-section{
        padding: 0px 10px;
        display: block;
    }

    #navbar-section .navoption ul li{
        margin-right: 20px;
        list-style: none;
        
    }
    #navbar-section .navoption{
        margin-left: 50px;
    }
    #navbar-section .logo{
        text-align: center;
        display: block;
        align-items: center;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    #navbar-section{
        padding: 0px 30px;
        display: block;
    }
}