
#navbar-section{
    display: flex;
    justify-content: space-between;
    padding: 0px 130px;
    margin-top: 30px;
}
#navbar-section .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
#navbar-section .navoption ul {
    display: flex;
}
#navbar-section .navoption ul li{
    margin-right: 30px;
    list-style: none;
}

/*first page start*/
#firstpage{
    width: 80%;
    height: 400px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Group\ 13.png);
    margin: 0px 130px;
    background-position: center;
}
.firsttext{
    width: 60%;
    text-align: center;
   margin: 0px auto;
}
.firsttext1{
    color: #FFF;
    font-family: Mulish;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 60px;
}
.firsttext1p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    
}

.btnsection{
    width: 60%;
    height: 80px;
    background-color: #ffffff67;
    margin: 0px auto;
    border-radius: 8px;
  
}
.btnsectionall{
    margin-left: 20px;
}
.btnimg{
    width: 15px;
}
.btnprimary{
    margin-top: 20px;
    width: 120px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 10px;
    border: none;
    margin-right: 25px; 
}
.btnprimaryinput{
    margin-top: 20px;
    width: 120px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 10px;
    border: none;
    margin-right: 25px; 
}
.btnprimaryf{
    margin-top: 20px;
    width: 120px;
    padding: 10px;
    background-color: #FF5400;
    border-radius: 10px;
    border: none;
    margin-right: 25px;
    color: #FFF;
  
    
}

/*scndpage section start*/
#scndpage{
    width: 80%;
    height: 460px;
    margin: 0px 130px;
  
}
.scndpageall{
    display: flex;
    margin-top: 60px;
    gap: 30px;
}
.scndpageall .scndpageimg1{
    width: 500px;
    height: 450px;
}
.scndpagetitle{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.scndpagep{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.scndpageall ul li{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/*thrdpage section start*/
#thrdpage{
    width: 80%;
    margin: 0px auto;
}
.thrdpagetext{
    width: 60%;
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;

}
.thrdpagetext1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.thrdpagep{
    margin-top: -60px;
}
.maldiv{
    background-image: url(Rectangle\ 5.png);
    background-position: center;
    grid-area: maldiv;
    height: 200px;
    border-radius: 20px;
}
.indonesia{
    background-image: url(Rectangle\ 8.png);
    background-position: center;
    grid-area: indonesia;
    height: 200px;
    border-radius: 20px;
}
.srilanka{
    background-image: url(Rectangle\ 6.png);
    background-position: center;
    grid-area: srilanka;
    height: 200px;
    border-radius: 20px;
}
.northamerica{
    background-image: url(Rectangle\ 7.png);
    background-position: center;
    grid-area: america;
    height: 200px;
    border-radius: 20px;
}
.kashmir{
    background-image: url(Rectangle\ 9.png);
    background-position: center;
    grid-area: kashmir;
    height: 200px;
    border-radius: 20px;
}
.bangladesh{
    background-image: url(Rectangle\ 11.png);
    background-position: center;
    grid-area: bangladesh;
    height: 200px;
    border-radius: 20px;
}
.bandarban{
    background-image: url(Rectangle\ 10.png);
    background-position: center;
    grid-area: bandarban;
    height: 200px;
    border-radius: 20px;
}
.thrdpageimg{
    display: grid;
    gap: 40px;
    grid-template-areas: 
    "maldiv    maldiv  indonesia   indonesia"
    "srilanka   america america kashmir"
    " bangladesh bangladesh bandarban bandarban"
    ;
   text-align: center;
  
}
.thrdpageimg h5{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 80px;

}

/*fourpage section start*/
#fourpage{
    margin: 0px 130px;
}

.fourpagetext{
    text-align: center;
    width: 60%;
    margin-left: 200px;
}
.fourpagetext1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.fourpagetextp{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.card1{
    padding: 10px;
    border-radius: 10px;
    background-color: #d6b06934;
}
.card1 .card1img{
    width: 70px;
}
.card1 .cardtitle{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.card1 .cardtext{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.fourpagediv{
    display: flex;
    gap: 30px;
}
.card2{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #d6b06934;
}
.card2 .card1img{
    width: 70px;
}
.card2 .cardtitle{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.card2 .cardtext{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/*sixpage section start*/
#sixpage{
   
    margin: 20px 130px;
}
.sixpageall{
    display: flex;
    gap: 30px;
}
.newslatter{
    height: 400px;
    padding: 20px;
    border: 3px solid #FF5400;
    border-radius: 10px;
}
.sixpagetitle{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.sixpagep{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.sixbtn{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-top: 13px;
}
.sixbtn1{
    margin-top: 13px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 20px;
}

.off{
    background-color: #FF5400;
    padding: 20px;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
}
.sixpageimg{
    position: relative;
}
.off{
    position:absolute;
    bottom: 110px;
    right: 3px;
    transform: rotate(-38deg);
}
.discount{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.discount2{
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}





@media screen and (max-width:576px) {
    #navbar-section{
        padding: 0px;
        display: block;
    }

    #navbar-section .navoption ul li{
        margin-right: 10px;
        list-style: none;
        
    }
    #navbar-section .navoption ul{
        padding: 20px;
    }
    #navbar-section .navoption{
        margin-left: 0px;
    }
    #navbar-section .logo{
        width: fit-content;
        display: block;
        align-items: center;
        text-align: center;
        margin-left: 77px;
    }
    #firstpage{
        width: 94%;
        margin: 0px 10px;
       
    }
    .firsttext{
        width: 100%;
        text-align: center;
       
    }
    .firsttext1{
        padding-top: 6px;
        font-size: 15px;
       
    }
    .firsttext1p{
        font-size: 10px;
        line-height: 10px;
    }
    .btnsection{
        width: 80%;
        height: 60%;
        background-color: #ffffff67;
        margin: 0px auto;
        border-radius: 8px;
      
    }
    .btnsectionall{
       margin-left: 60px;
    }
    .btnprimary{
        width: 70%;
    }
    .btnprimaryf{
        width: 70%;
    }
    .btnprimaryinput {
        width: 65%;
    }
    #scndpage{    
        margin: 0px 13px;
    }
    .scndpageall{
        display: block;
        margin-top: 10px;
        gap: 20px;
    }
    .scndpagetitle{
        font-size: 20px;
        font-weight: 800;
        line-height: normal;
    }
    .scndpagep{
        font-size: 14px;
        line-height: 26px;
    }
    .scndpagetext{
        width: 100%;
    }
    .scndpageall .scndpageimg1{
        width: 378px;
        height: 350px;
        margin-top: 13px;
    }
  
    .thrdpagetext{
        margin-left: 70px;
        margin-top: 500px;
    }
    .thrdpageimg{
        width: 384px;
        margin-left: -30px;
        gap: 15px;
        grid-template-areas: 
        "maldiv"
        "indonesia" 
        "srilanka"
        "america"
        "kashmir"
        " bangladesh" 
        " bandarban"
        ;
       
      
    }
    #fourpage{
        margin: 0px 13px;
    }
    
    .fourpagetext{
        text-align: center;
        width: 90%;
        margin-left: 10px;
    }
    .fourpagediv{
        display: block;
        gap: 20px;
    }
    .card1{
        margin: 10px;
        padding: 10px;
        
    }
    .card2{
        width: 90%;
        padding: 10px;
       
    }
    .fourpagetext1{
       
        font-size: 30px;
       
    }
    #sixpage{
        margin-top: 300px;
        margin-left: 10px;
    }
    .sixpageall{
        display: block;
        gap: 10px;
        margin-top: 300px;
    }
    .newslatter{
     
        width: 330px;
        height: 400px;
        padding: 20px;
        border: 3px solid #FF5400;
        border-radius: 10px;
    }
    .sixbtn{
        width: 320px;
        height: 52px;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        border: none;
        margin-top: 13px;
    }
    .sixbtn1{
        margin-top: 13px;
        width: 320px;
        height: 52px;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: #FFF;
        font-size: 20px;
    }
    .sixpageimg{
       margin-top: 30px;
    }
    .sixpageimg1{
        width: 375px;
    }
    .off{
        background-color: #FF5400;
        padding: 2px;
        height: 80px;
        width: 200px;
        border-radius: 10px;
        color: #FFF;
        text-align: center;
        bottom: 56px;
      left: 170px;

    }
    .discount{
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .discount2{
        color: #FFF;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    #navbar-section{
        padding: 0px 30px;
        display: block;
    }
}